@media all and (max-width:768px) {


    .header {
        flex-flow: column;
        align-items: start;
        background-color: var(--color-primary);
    }
        .header_nav { width: 100% }
            .header_menu {
                display: none;
                flex-direction: column;
                text-align: center;
                padding: 1rem 4rem;
                gap: 1rem;
            }
            .header_menu.open { display: flex; }
            .hamburger {
                display: block;
                color: var(--color-white);
                font-size: 1.5rem;
                position: absolute;
                top: 1.4rem;
                right: 1rem;
                border: 0;
            }
    .about_content {
        flex-direction: column;
        align-items: center;
    }
    .about_box { width: 100%; }

    .skills_content {
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin: 2rem auto;
        grid-template-areas: 
        "a"
        "b"
        "c"
        ;
    }
        .skills_coding {
            grid-area: a;
            padding: 1rem;
            background-color: var(--color-primary);
        }
        .skills_tools {
            grid-area: b;
            padding: 1rem;
            background-color: var(--color-primary);
            filter: brightness(120%);
        }
        .skills_etc {
            grid-area: c;
            padding: 1rem;
            background-color: var(--color-primary);
            filter: brightness(150%);
        }

    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: transparents;
    }
        .category_button { width: 100%; }
        .project_all {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 1rem;
        }
    
    .testimonial_all { background: ransparent; }
        .testimonial_each {
            display: flex;
            flex-direction: column;
        }
        .testimonial_each:nth-child(even) .testimonial_img {
            order:0;
        }
    
    .arrow_up {
        right: 1rem;
        bottom: 1rem;
        transform: scale(0.8);
    }
}