:root {
    --color-white: #fff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);

    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
}

* { box-sizing: border-box; }
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
ul { list-style: none; }
a {
    text-decoration: none;
    color: var(--color-text)
}
button { 
    background-color: transparent;
    outline: 0;
    border: 0;
}
button:focus {
    outline: 1px solid var(--color-accent);
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #050a13;
    padding: 1rem;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.header-dark {
    background-color: #f90;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    .header_logo {
        display: flex;
        align-items: center;
        gap: 8px;
    }
        .header_logo_img {
            width: 34px;
            height: 34px;
        }
        .header_logo_title {
            font-size: 1.8rem;
        }
    .header_menu {
        display: flex;
        gap: 4px;
    }
        .header_menu_item {
            display: block;
            padding: 8px 16px;
            border-bottom: 1px solid transparent;
        }
        .header_menu_item:hover {
            border-bottom: 1px solid var(--color-accent);
        }
        .header_menu_item.active {
            border: 1px solid var(--color-accent);
            border-radius: 4px;
        }
    .hamburger { display: none; }